body {
	  margin:30px;
	  background-color:tan;
     } 
	 
	 
header {
	  background-color:thistle;
	  text-align:center;
     }
	 

main {
	  margin:10px;
	  padding:5px;
	  text-align:center;
	  background-color:ghostwhite;
     }
	 
	 
article {
	  margin:10px;
	  padding:5px;
	  background-color:mistyrose;
     }

footer {
	  margin:10px;
	  padding:5px;
	  background-color:lavender;
     }