body {
	  background-image: url("https://i.redd.it/6swev6t931t51.png");
	  background-attachment:fixed;
     } 
	 
	 
#burger {
	  margin:20px;
	  padding:10px;
	  background-color:powderblue
     }
	 
	 
header {
	   margin:10px;
	  background-color:moccasin;
     text-align:center;
	 }
	 

main {
	  margin:10px;
	  padding:5px;
	  text-align:center;
	  background-color:ghostwhite;
	  height:250px;
     }
	 
	 
article {
	  margin:10px;
	  padding:5px;
	  background-color:peru;
	  height:200px;
     }

footer {
	  margin:10px;
	  padding:5px;
	  background-color:silver;
     }